{% extends "base.html" %}
{% block content %}
<div class="me-5 mt-4 d-flex flex-row-reverse mb-5">
  <button type="button" class="btn btn-danger ms-3 ps-5 pe-5">
    <a class="text-light" style="text-decoration: none;" href="{{ url_for('logout') }}">Logout</a>
  </button>
  <button type="button" class="btn btn-primary ps-5 pe-5">
      <a class="text-light" style="text-decoration: none;" href="/">Home</a>
  </button>
</div>
<div class="me-5 mt-4 d-flex flex-row-reverse mb-5">
  
</div>
<div class="p-5">
<h1 class="text-center text-light mb-5">Admin Dashboard</h1>

<div class="d-flex justify-content-center align-items-center">
  <div class="card" style="width: 18rem;background-color: #334156;">
    <div class="card-body">
      <h5 class="text-center fw-bold fs-1 text-warning">{{ temp }} °C</h5>
      <h5 class="card-title" style="color:#8C939A">Set Temperature</h5>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="form-outline">
          <input type="number" name="temperature" step="0.01" class="form-control form-control-lg" />
        </div>
      
        <div class="pt-1 d-flex justify-content-center">
          <button class="btn btn-dark justify-content-center align-items-center" type="submit">Submit</button>
        </div>
      
      </form>
    </div>
  </div>
</div>

<div class="d-flex flex-row-reverse">
<a style="text-decoration: none;" href="{{ url_for('download') }}">
  <button type="button" class="btn btn-success mb-2 d-flex flex-row-reverse">Download</button>
</a>
</div>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Sensor Name</th>
        <th>Description</th>
        <th>Value</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      {% for data in pagination.items %}
        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ data.name }}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ data.description }}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ data.value }}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ data.created_at }}</p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex flex-row-reverse mt-3">
    {% if next_url %}
      <a style="text-decoration: none;" class="ms-4 fs-4 text-warning" href="{{ next_url }}">Next{{'>>'}}</a>
    {% endif %}
    {% if prev_url %}
      <a style="text-decoration: none;" class="fs-4 text-warning" href="{{ prev_url }}">{{'<<'}}Previous</a>
    {% endif %}
   
  </div>
 
</div>
</div>
<div class="p-5">
  <h1 class="text-light">Temperature Sensor Graph Data</h1>
  <canvas id="lineChart_temp" width="900" height="400"></canvas>
  <h1 class="text-light">Humidity Sensor Graph Data</h1>
  <canvas id="lineChart_humi" width="900" height="400"></canvas>
  <h1 class="text-light">Dust Sensor Graph Data</h1>
  <canvas id="lineChart_dust" width="900" height="400"></canvas>
  <h1 class="text-light">Carbon Dioxide Sensor Graph Data</h1>
  <canvas id="lineChart_co2" width="900" height="400"></canvas>
</div>
<script>
  // temperature 
  const ctx_temp = document.getElementById('lineChart_temp').getContext('2d');
  var lineChart_temp = new Chart(ctx_temp,{
    type: "line",
    data: {
      labels: {{ temp_labels | safe}},
      datasets: [
        {
          label: "Indoor Temperature",
          data: {{ indoor_temp | safe }},
          fill: false,
          borderColor: "rgb(75,192,192)",
          lineTension: 0.1
        },
        {
          label: "Outdoor Temperature",
          data: {{ outdoor_temp | safe }},
          fill: false,
          borderColor: "rgb(252, 3, 7)",
          lineTension: 0.1
        }
      ]
    },
    options:{
      responsive: true
    }
  })

  // humidity 
  const ctx_humi = document.getElementById('lineChart_humi').getContext('2d');
  var lineChart_humi = new Chart(ctx_humi,{
    type: "line",
    data: {
      labels: {{ humi_labels | safe}},
      datasets: [
        {
          label: "Indoor Humidity",
          data: {{ indoor_humi | safe }},
          fill: false,
          borderColor: "rgb(75,192,192)",
          lineTension: 0.1
        },
        {
          label: "Outdoor Humidity",
          data: {{ outdoor_humi | safe }},
          fill: false,
          borderColor: "rgb(252, 3, 7)",
          lineTension: 0.1
        }
      ]
    },
    options:{
      responsive: true
    }
  })


  // // dust 
  const ctx_dust = document.getElementById('lineChart_dust').getContext('2d');
  var lineChart_dust = new Chart(ctx_dust,{
    type: "line",
    data: {
      labels: {{ humi_labels | safe}},
      datasets: [
        {
          label: "PM1.0",
          data: {{ pm1 | safe }},
          fill: false,
          borderColor: "rgb(75,192,192)",
          lineTension: 0.1
        },
        {
          label: "PM2.5",
          data: {{ pm2 | safe }},
          fill: false,
          borderColor: "rgb(252, 3, 7)",
          lineTension: 0.1
        }
      ]
    },
    options:{
      responsive: true
    }
  })

  // carbon dioxide 
   // // dust 
  const ctx_co2 = document.getElementById('lineChart_co2').getContext('2d');
  var lineChart_dust = new Chart(ctx_co2,{
    type: "line",
    data: {
      labels: {{ co2_labels | safe}},
      datasets: [
        {
          label: "Carbon Dioxide",
          data: {{ carbon_dioxide | safe }},
          fill: false,
          borderColor: "rgb(75,192,192)",
          lineTension: 0.1
        }
      ]
    },
    options:{
      responsive: true
    }
  })
</script>
{% endblock %}
